<div class="boot-screen">

  <div class="boot-content">

    <img
      src="/assets/logos/windows-xp-flag.png"
      alt="Windows XP flag"
      class="xp-logo"
    />

    <div class="branding">
      <div class="name">
        Wael Ben Youssef
        <span>XP</span>
      </div>

      <div class="role">
        Software Engineer
      </div>
    </div>

    <div class="loading-box">
      <div class="loading-track">
        <div class="loading-bars">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>

  </div>

  <div class="fullscreen-hint">
    For the best experience<br>
    Press F11 for Full Screen
  </div>

  <div class="portfolio-label">
    Portfolio
  </div>

</div>