<div
  class="system-tray"

  (click)="
    $event.stopPropagation()
  "

  (contextmenu)="
    $event.preventDefault();
    $event.stopPropagation()
  "
>


  <!-- =================================================
       TRAY ICONS
  ================================================== -->

  <div class="tray-icons">

    @for (
      icon of trayIcons;
      track icon.id
    ) {

      <button
        class="tray-button"

        type="button"

        [attr.aria-label]="
          icon.label
        "

        [attr.title]="
          icon.label
        "

        (click)="
          clickTrayIcon(
            icon,
            $event
          )
        "
      >

        <img
          class="tray-icon"

          [src]="
            icon.icon
          "

          alt=""

          draggable="false"
        />

      </button>

    }

  </div>


  <!-- =================================================
       LANGUAGE
  ================================================== -->

  <div class="language-selector">

    <button
      class="language-trigger"

      type="button"

      (click)="
        toggleLanguageMenu(
          $event
        )
      "
    >

      {{
        languageService
          .currentLanguage()
          .toUpperCase()
      }}

    </button>


    @if (
      languageMenuOpen()
    ) {

      <div
        class="language-menu"

        (click)="
          $event.stopPropagation()
        "
      >

        <button
          type="button"

          dir="ltr"

          (click)="
            selectLanguage(
              'en',
              $event
            )
          "
        >

          English

        </button>


        <button
          type="button"

          dir="ltr"

          (click)="
            selectLanguage(
              'fr',
              $event
            )
          "
        >

          Français

        </button>


        <button
          type="button"

          dir="rtl"

          (click)="
            selectLanguage(
              'ar',
              $event
            )
          "
        >

          العربية

        </button>

      </div>

    }

  </div>


  <!-- =================================================
       CLOCK
  ================================================== -->

  <span class="clock">

    {{ currentTime() }}

  </span>

</div>